*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --dark-color-1: #001A38;
    --dark-color-2: #002E4E;
    --dark-color-3: #003367;
    --dark-color-4: #171D20;
    --dark-color-5: #1E2529;
    --dark-color-6: #2F3133;
    --light-color-1: #ACDDDE;
    --light-color-2: #CAF1DE;
    --light-color-3: #E1F8DC;
    --light-color-4: #FEF8DD;
    --light-color-5: #FFE7C7;
    --light-color-6: #F7D8B8;
}

/* body{
     background-image: url("images/bg.jpg") ; 
} */

nav{
    background-color: var(--dark-color-4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 17%;
    position: fixed;
    top: 0;
    left: 0;
    border-right: 2px solid white;
}

.nav-brand{
    color: white;
    font-size: 2rem;
    margin: 15px 40px;
}

.nav-item{
    margin: 15px 20px;
    font-size: 1.8rem;
}

.nav-link{
    color: white;
    text-decoration: none;
}

nav>ol{
    list-style-type: none;
    font-family: Calibri, sans-serif;
    margin: 0 15px;
}

.content{
    width: 83%;
    margin-left: 17%;
    height: 100%;
}

#home{
    padding: 9% 4% 4% 4%;
    width: 83%;
    margin-left: 17%;
    min-height: 100%;
    height: fit-content;
    background-color: var(--dark-color-1);
    /* background-image: linear-gradient(to right, rgb(15,12,41), rgb(48,43,99), rgb(36,36,62)); */
    /* background-image: url("images/bg.png"); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: fill;
    /* background-attachment: fixed; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;   
    box-sizing: border-box;
    flex-wrap: wrap;
    /* gap: 0 100px; */
}

.home-content{
    /* width:50%; */
    /* height: 100%; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: white;
    font-family: Calibri;
    padding: 7%;
}

.name{
    color: blue;
}

.man-with-comp-container{
    /* width: 50%; */
    
    /* height: 100%; */
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.man-with-computer{
    /* width: 66%; */
    width: 500px;
    /* max-width:fit-content; */
    /* flex-shrink: 0; */
    /* flex-grow: 0; */
    /* flex-basis: 0; */
    /* height: auto; */
    object-fit: contain;
}

#intro{
    padding: 5% 7%;
    background-color: var(--dark-color-6);
    width: 83%;
    margin-left: 17%;
}

#intro > h1{
    text-align: center;
    font-size: 3.5rem;
    font-family: Calibri;
    color: red;
}

#intro > p{
    font: 1.8rem Calibri;
}

#skills{
    padding: 5% 7%;
    /* background: linear-gradient(to right, rgb(15,12,41), rgb(48,43,99), rgb(36,36,62)); */
    /* background-size: 100% 100%; */
    background-color: var(--dark-color-1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 83%;
    margin-left: 17%;
}

#skills > h1{
    color: white;
    text-align: center;
    font-size: 3.5rem;
    font-family: Calibri;
}

.skills-container{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.skills-image{
    width: 280px;
    height: 280px;
}

#projects{
    padding: 4%;
    background-color: var(--dark-color-5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 83%;
    margin-left: 17%;
}

#projects > h1{
    color: white;
    font-family: Calibri;
    font-size: 3.5rem;
}

.projects-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
    row-gap: 40px;
}

#achievements{
    padding: 4%;
    /* background: linear-gradient(to right, rgb(15,12,41), rgb(48,43,99), rgb(36,36,62)); */
    /* background-size: 100% 100%; */
    background-color: var(--dark-color-1);
    width: 83%;
    margin-left: 17%;
}

#achievements > h1{
    color: white;
    text-align: center;
    font-size: 3.5rem;
    font-family: Calibri;
}

.achievements-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 4%;
}

.card{
    padding: 20px;
    border-radius: 20px;
    background-color: white;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    border: 2px solid black;
}

.card-image{
    height: 300px;
    width: 300px;
}

.card-title{
    font-family: Calibri;
    font-size: 1.8rem;
}

.card-details{
    font-family: Calibri;
    font-size: 1.3rem;
}

#switch{
    position: absolute;
    top:0;
    right:10px;
}

#switch:checked ~ #home{
    background: #040b14;
}

#hamburger{
    display: none;
}

.hamburger{
    display: none;
}

@media only screen and (max-width:1080px) {
    nav{
        width: 100%;
        height: 8vh;
        top:0;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .nav-brand{
        font-size: 7rem;
    }

    .hamburger{
        font-size: 7rem;
    }

    #home{
        width: 100%;
        margin-top: 8vh;
        margin-left: 0;
        overflow-x: auto;
        /* padding: 70px 60px 20px 60px; */
        min-height: max-content;
    }

    .man-with-comp-container{
        width: 100%;
    }

    .man-with-computer{
        width: 80%;
    }

    #intro{
        width: 100%;
        margin-left: 0;
        overflow-x: auto;
        /* padding: 60px; */
    }

    #projects{
        width: 100%;
        margin-left: 0;
        overflow-x: auto;
        /* padding: 60px; */
    }

    #skills{
        width: 100%;
        margin-left: 0;
        overflow-x: auto;
        /* padding: 60px; */
    }

    #achievements{
        width: 100%;
        margin-left: 0;
        overflow-x: auto;
    }

    .hamburger{
        display: inline-block;
        font-size: 2.5rem;
        color: white;
    }

    nav>ol{
        position: absolute;
        left: 0px;
        top: -10000px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--dark-color-2);
        margin:0;
    }

    #hamburger:checked ~ ol{
        top: 8vh;
    }

    

    

}

